{{define "foot.html"}}
    <div class="d-flex justify-content-center mt-2">
        <a href="https://www.nodir.net/?ref=project" class="text-decoration-none fs-6 text-dark" target="_blank">
            &copy;&nbsp;NODIR NORBOYEV
        </a>
    </div>
    <script src="/files/style/dist/js/bootstrap.bundle.js"></script>
    <script src="/files/libs/axios/dist/axios.min.js"></script>
    <script src="/files/libs/fafa/js/all.min.js"></script>
    <script src="/files/script/main.js"></script>
    </body>
    </html>
{{end}}